@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Products</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="@Url.Action("Index","Home")">Home</a></li>
            <li class="active">Products</li>
        </ul>
    </div>
</div>
<!--=== End Breadcrumbs ===-->

<!--=== New Energy ===-->
<div class="container content">
    <div id="NewEnergy" class="text-center margin-bottom-50">
        <h2 class="title-v2 title-center">New Energy</h2>
        <p></p>
    </div>

    <div class="row margin-bottom-30">
        <div class="col-sm-3 sm-margin-bottom-30">
            <a href="~/assets/img/clients1/Products/NewEnergy/Product-1.jpg" rel="gallery1" class="fancybox img-hover-v1" title="Image 1">
                <span><img class="img-responsive" src="~/assets/img/clients1/Products/NewEnergy/Product-1.jpg" alt=""></span>
            </a>
        </div>
        <div class="col-sm-3 sm-margin-bottom-30">
            <a href="~/assets/img/clients1/Products/NewEnergy/Product-2.jpg" rel="gallery1" class="fancybox img-hover-v1" title="Image 2">
                <span><img class="img-responsive" src="~/assets/img/clients1/Products/NewEnergy/Product-2.jpg" alt=""></span>
            </a>
        </div>
        <div class="col-sm-3 sm-margin-bottom-30">
            <a href="~/assets/img/clients1/Products/NewEnergy/Product-3.jpg" rel="gallery1" class="fancybox img-hover-v1" title="Image 3">
                <span><img class="img-responsive" src="~/assets/img/clients1/Products/NewEnergy/Product-3.jpg" alt=""></span>
            </a>
        </div>
        <div class="col-sm-3 sm-margin-bottom-30">
            <a href="~/assets/img/clients1/Products/NewEnergy/Product-4.jpg" rel="gallery1" class="fancybox img-hover-v1" title="Image 4">
                <span><img class="img-responsive" src="~/assets/img/clients1/Products/NewEnergy/Product-4.jpg" alt=""></span>
            </a>
        </div>
    </div>
     <div class="row">
            <div class="col-sm-3 margin-bottom-30">
                <a href="~/assets/img/clients1/Products/NewEnergy/Product-5.jpg" rel="gallery1" class="fancybox img-hover-v1" title="Image 5">
                    <span><img class="img-responsive" src="~/assets/img/clients1/Products/NewEnergy/Product-5.jpg" alt=""></span>
                </a>
            </div>
     </div>
</div>
<hr />
<!--=== End New Energy ===-->

<!--=== Auto Parts ===-->
<div class="container content">
    <div id="AutoParts" class="text-center margin-bottom-50">
        <h2 class="title-v2 title-center">Auto Parts</h2>
        <p></p>
    </div>

    <div class="row">
        <div class="col-sm-3 sm-margin-bottom-30">
            <a href="~/assets/img/clients1/Products/AutoParts/auto-1.jpg" rel="gallery1" class="fancybox img-hover-v1" title="Image 1">
                <span><img class="img-responsive" src="~/assets/img/clients1/Products/AutoParts/auto-1.jpg" alt=""></span>
            </a>
        </div>
        <div class="col-sm-3 sm-margin-bottom-30">
            <a href="~/assets/img/clients1/Products/AutoParts/auto-2.jpg" rel="gallery1" class="fancybox img-hover-v1" title="Image 2">
                <span><img class="img-responsive" src="~/assets/img/clients1/Products/AutoParts/auto-2.jpg" alt=""></span>
            </a>
        </div>
        <div class="col-sm-3">
            <a href="~/assets/img/clients1/Products/AutoParts/auto-3.jpg" rel="gallery1" class="fancybox img-hover-v1" title="Image 3">
                <span><img class="img-responsive" src="~/assets/img/clients1/Products/AutoParts/auto-3.jpg" alt=""></span>
            </a>
        </div>
        <div class="col-sm-3 sm-margin-bottom-30">
            <a href="~/assets/img/clients1/Products/AutoParts/auto-4.jpg" rel="gallery1" class="fancybox img-hover-v1" title="Image 4">
                <span><img class="img-responsive" src="~/assets/img/clients1/Products/AutoParts/auto-4.jpg" alt=""></span>
            </a>
        </div>
    </div>
</div>
<hr />
<!--=== End Auto Parts ===-->

<!--=== Smart Grid ===-->
<div class="container content">
    <div id="SmartGrid" class="text-center margin-bottom-50">
        <h2 class="title-v2 title-center">Smart Grid</h2>
        <p></p>
    </div>

    <div class="row">
        <div class="col-sm-3 sm-margin-bottom-30">
            <a href="~/assets/img/clients1/Products/SmartGrid/smart-1.jpg" rel="gallery1" class="fancybox img-hover-v1" title="Image 1">
                <span><img class="img-responsive" src="~/assets/img/clients1/Products/SmartGrid/smart-1.jpg" alt=""></span>
            </a>
        </div>
    </div>
</div>
<hr />
<!--=== End Smart Grid ===-->

<!--=== Electronical Processing ===-->
<div class="container content">
    <div id="ElectricalProcessing" class="text-center margin-bottom-50">
        <h2 class="title-v2 title-center">Electrical Processing</h2>
        <p></p>
    </div>

    <div class="row">
        <div class="col-sm-3 sm-margin-bottom-30">
            <a href="~/assets/img/clients1/Products/ElectricalProcessing/elec-1.jpg" rel="gallery1" class="fancybox img-hover-v1" title="Image 1">
                <span><img class="img-responsive" src="~/assets/img/clients1/Products/ElectricalProcessing/elec-1.jpg" alt=""></span>
            </a>
        </div>
        <div class="col-sm-3 sm-margin-bottom-30">
            <a href="~/assets/img/clients1/Products/ElectricalProcessing/elec-2.jpg" rel="gallery1" class="fancybox img-hover-v1" title="Image 2">
                <span><img class="img-responsive" src="~/assets/img/clients1/Products/ElectricalProcessing/elec-2.jpg" alt=""></span>
            </a>
        </div>
        <div class="col-sm-3">
            <a href="~/assets/img/clients1/Products/ElectricalProcessing/elec-3.jpg" rel="gallery1" class="fancybox img-hover-v1" title="Image 3">
                <span><img class="img-responsive" src="~/assets/img/clients1/Products/ElectricalProcessing/elec-3.jpg" alt=""></span>
            </a>
        </div>
        <div class="col-sm-3 sm-margin-bottom-30">
            <a href="~/assets/img/clients1/Products/ElectricalProcessing/elec-4.jpg" rel="gallery1" class="fancybox img-hover-v1" title="Image 4">
                <span><img class="img-responsive" src="~/assets/img/clients1/Products/ElectricalProcessing/elec-4.jpg" alt=""></span>
            </a>
        </div>
    </div>
</div>
<!--=== End Electronical Processing ===-->