@model airtton.ViewModel.GroupIntroSummaryViewModel

@Html.Hidden("group_intro_id", Model.ID)

<div class="form-body">
    <div class="form-group">
        <label>标题</label>
        <p name="Title" id="group_intro_title">@Model.Title</p>
    </div>
    <div class="form-group">
        <label>内容</label>
        <p name="Content" id="group_intro_content">@Model.Description</p>

    </div>
</div>



