
@{
    ViewBag.Title = "ChemicalProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Chemical Products</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="@Url.Action("Index","Home")">Home</a></li>
            <li><a href="@Url.Action("ChemicalProducts", "Base")">Base</a></li>
            <li class="active">Chemical Products</li>
        </ul>
    </div>
</div>
<!--=== End Breadcrumbs ===-->

<!--=== Content Part 1 ===-->
<div class="container content">
    <div class="row">
        <div class="col-md-6">
            <h2 class="title-v2">OUR PLANT</h2>
            <p>We have various automatic control reacting equipment, such as the Digital Temperature Reactors, High-precision Automatic Harmonic Machine, Remote Monitoring Chromatography, High-capacity Automatic Drying Chamber, and various Micro Chemical Analysis Apparatus.</p>
            <p>Regular Products: Butyl acetate + NC; Amyl Acetate Resin + NC; Electronic Grade Toluene + Acrylic Resin.</p>
            <p>Customers: Panasonic, Samsung, Hitachi, etc.</p><br>

        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="~/assets/img/clients1/Base/ChemicalProducts/chemical-1.jpg" alt="">
        </div>
    </div>
</div>
<!--=== End Content Part 1 ===-->

