
@{
    ViewBag.Title = "PrecisionStamping";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Precision stamping workshop</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="@Url.Action("Index","Home")">Home</a></li>
            <li><a href="@Url.Action("PrecisionStamping", "Base")">Base</a></li>
            <li class="active">Precision stamping workshop</li>
        </ul>
    </div>
</div>
<!--=== End Breadcrumbs ===-->

<!--=== Content Part 1 ===-->
<div class="container content">
    <div class="row">
        <div class="col-md-6">
            <h2 class="title-v2">OUR WORKSHOP</h2>
            <p>Beijing the nine tripods communication equipment Co., LTD. Precision stamping workshop, has excellent production equipment and Taiwan, the first-class specialized technical personnel, the main production of foreign and engaged in all kinds of automobiles, electronics, machinery spare parts production of all kinds of abrasive.</p>
            <p>My factory has the perfect production parts of the equipment and product testing device. Stamping forming has certain advantages, the product quality inspection department by DuoCi inspection reached product standards requirements. Our factory always adhere to the "technology innovation, to the quality strives for the survival, development with prestige" introduce advanced management methods. To improve the staff's comprehensive quality, make exercise management standardization, the scientific moral to adapt to the development of the society. Make the enterprise to faster, higher, stronger goal.</p><br>

        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="~/assets/img/clients1/Base/PrecisionStampingWorkshop/Precision-1.jpg" alt="">
        </div>
    </div>
</div>
<!--=== End Content Part 1 ===-->

