
@{
    ViewBag.Title = "PrecisionStamping";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">冲压车间</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="@Url.Action("Index","Home")">首页</a></li>
            <li><a href="@Url.Action("PrecisionStamping", "Base")">生产基地</a></li>
            <li class="active">冲压车间</li>
        </ul>
    </div>
</div>
<!--=== End Breadcrumbs ===-->

<!--=== Content Part 1 ===-->
<div class="container content">
    <div class="row">
        <div class="col-md-6">
            <h2 class="title-v2">冲压车间</h2>
            <p>北京九鼎冲压车间，拥有精良的生产设备11台，一流的专业生产技术人才，主要对外从事各种汽车、电子、机械各种磨具的零部件生产。</p>
            <p>我厂有完善的生产配件的设备和产品检测装置。冲压成型有一定的优势，产品质量经检验部门多次检验均达到产品标准要求。我厂始终坚持“以科技为创新，以质量求生存，以信誉促发展”引进先进的管理办法。提高员工的综合素质，使作业管理道德规范化，科学化以适应社会的发展。使企业向更快、更高、更强目标迈进！</p><br>

        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="~/assets/img/clients1/Base/PrecisionStampingWorkshop/Precision-1.jpg" alt="">
        </div>
    </div>
</div>
<!--=== End Content Part 1 ===-->

