@{
    ViewBag.Title = "PrecisionMachinery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Precision Machinery Machining</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="@Url.Action("Index","Home")">Home</a></li>
            <li><a href="@Url.Action("PrecisionMachinery", "Base")">Base</a></li>
            <li class="active">Precision Machinery Machining</li>
        </ul>
    </div>
</div>
<!--=== End Breadcrumbs ===-->

<!--=== Content Part 1 ===-->
<div class="container content">
    <div class="row">
        <div class="col-md-6">
            <h2 class="title-v2">OUR PLANT</h2>
            <p>Machining of non-standard mechanical parts, stainless steel parts, copper and aluminum parts, and non-metal parts.</p>
            <p>Over 30 sets of high-precision CNC, lathing, drilling, electronic-sparkle and cutting machines.</p>
            <p>Over 40sets of world-advanced sheet metal processing, surface spray coating, screen printing, and testing machines.ISO9001 certified.</p>
            <p>We also produce various molds and automatic parts.</p><br>

        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="~/assets/img/clients1/Base/PrecisionMachineryMachining/ProcisionMachinery-1.jpg" alt="">
        </div>
    </div>
</div>
<!--=== End Content Part 1 ===-->

<!--=== Content Part 2 ===-->
<div class="bg-grey">
    <div class="container content-sm">
        <div class="text-center margin-bottom-50">
            <h2 class="title-v2 title-center">Equipment Introduction</h2>
        </div>
        <div class="row news-v1">
            <div class="col-md-6 md-margin-bottom-40">
                <div class="news-v1-in bg-color-white">
                    <a href="~/assets/img/clients1/Base/PrecisionMachineryMachining/ProcisionMachinery-3.1.jpg" rel="gallery1" class="fancybox img-hover-v1">
                        <span>
                            <img class="img-responsive" src="~/assets/img/clients1/Base/PrecisionMachineryMachining/ProcisionMachinery-3.1.jpg" alt="">
                        </span>
                    </a>
                            <ul class="list-inline news-v1-info no-margin-bottom">
                                <li><span>By</span> <a href="#">Kathy Reyes</a></li>
                                <li>|</li>
                                <li><i class="fa fa-clock-o"></i> July 02, 2014</li>
                                <li class="pull-right"><a href="#"><i class="fa fa-comments-o"></i> 14</a></li>
                            </ul>
                </div>
            </div>
            <div class="col-md-6 md-margin-bottom-40">
                <div class="news-v1-in bg-color-white">
                    <a href="~/assets/img/clients1/Base/PrecisionMachineryMachining/ProcisionMachinery-3.2.jpg" rel="gallery1" class="fancybox img-hover-v1">
                        <span>
                            <img class="img-responsive" src="~/assets/img/clients1/Base/PrecisionMachineryMachining/ProcisionMachinery-3.2.jpg" alt="">
                        </span>
                    </a>
                            <ul class="list-inline news-v1-info no-margin-bottom">
                                <li><span>By</span> <a href="#">John Clarck</a></li>
                                <li>|</li>
                                <li><i class="fa fa-clock-o"></i> July 02, 2014</li>
                                <li class="pull-right"><a href="#"><i class="fa fa-comments-o"></i> 07</a></li>
                            </ul>
                </div>
            </div>
        </div>
        <br />
        <div class="row news-v1">
            <div class="col-md-4 md-margin-bottom-40">
                <div class="news-v1-in bg-color-white">
                    <a href="~/assets/img/clients1/Base/PrecisionMachineryMachining/ProcisionMachinery-2.1.jpg.jpg" rel="gallery1" class="fancybox img-hover-v1">
                        <span>
                            <img class="img-responsive" src="~/assets/img/clients1/Base/PrecisionMachineryMachining/ProcisionMachinery-2.1.jpg" alt="">
                        </span>
                    </a>
                            <ul class="list-inline news-v1-info no-margin-bottom">
                                <li><span>By</span> <a href="#">Kathy Reyes</a></li>
                                <li>|</li>
                                <li><i class="fa fa-clock-o"></i> July 02, 2014</li>
                                <li class="pull-right"><a href="#"><i class="fa fa-comments-o"></i> 14</a></li>
                            </ul>
                </div>
            </div>
            <div class="col-md-4 md-margin-bottom-40">
                <div class="news-v1-in bg-color-white">
                    <a href="~/assets/img/clients1/Base/PrecisionMachineryMachining/ProcisionMachinery-2.2.jpg" rel="gallery1" class="fancybox img-hover-v1">
                        <span>
                            <img class="img-responsive" src="~/assets/img/clients1/Base/PrecisionMachineryMachining/ProcisionMachinery-2.2.jpg" alt="">
                        </span>
                    </a>
                            <ul class="list-inline news-v1-info no-margin-bottom">
                                <li><span>By</span> <a href="#">John Clarck</a></li>
                                <li>|</li>
                                <li><i class="fa fa-clock-o"></i> July 02, 2014</li>
                                <li class="pull-right"><a href="#"><i class="fa fa-comments-o"></i> 07</a></li>
                            </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="news-v1-in bg-color-white">
                    <a href="~/assets/img/clients1/Base/PrecisionMachineryMachining/ProcisionMachinery-2.3.jpg" rel="gallery1" class="fancybox img-hover-v1">
                        <span>
                            <img class="img-responsive" src="~/assets/img/clients1/Base/PrecisionMachineryMachining/ProcisionMachinery-2.3.jpg" alt="">
                        </span>
                    </a>
                            <ul class="list-inline news-v1-info no-margin-bottom">
                                <li><span>By</span> <a href="#">Tina Kruiger</a></li>
                                <li>|</li>
                                <li><i class="fa fa-clock-o"></i> July 02, 2014</li>
                                <li class="pull-right"><a href="#"><i class="fa fa-comments-o"></i> 22</a></li>
                            </ul>
                </div>
            </div>
        </div>
        <br />
        <div class="row news-v1">
            <div class="col-md-4 md-margin-bottom-40">
                <div class="news-v1-in bg-color-white">
                    <a href="~/assets/img/clients1/Base/PrecisionMachineryMachining/ProcisionMachinery-4.1.jpg" rel="gallery1" class="fancybox img-hover-v1">
                        <span>
                            <img class="img-responsive" src="~/assets/img/clients1/Base/PrecisionMachineryMachining/ProcisionMachinery-4.1.jpg" alt="">
                        </span>
                    </a>
                            <ul class="list-inline news-v1-info no-margin-bottom">
                                <li><span>By</span> <a href="#">Kathy Reyes</a></li>
                                <li>|</li>
                                <li><i class="fa fa-clock-o"></i> July 02, 2014</li>
                                <li class="pull-right"><a href="#"><i class="fa fa-comments-o"></i> 14</a></li>
                            </ul>
                </div>
            </div>
            <div class="col-md-4 md-margin-bottom-40">
                <div class="news-v1-in bg-color-white">
                    <a href="~/assets/img/clients1/Base/PrecisionMachineryMachining/ProcisionMachinery-4.2.jpg" rel="gallery1" class="fancybox img-hover-v1">
                        <span>
                            <img class="img-responsive" src="~/assets/img/clients1/Base/PrecisionMachineryMachining/ProcisionMachinery-4.2.jpg" alt="">
                        </span>
                    </a>
                            <ul class="list-inline news-v1-info no-margin-bottom">
                                <li><span>By</span> <a href="#">John Clarck</a></li>
                                <li>|</li>
                                <li><i class="fa fa-clock-o"></i> July 02, 2014</li>
                                <li class="pull-right"><a href="#"><i class="fa fa-comments-o"></i> 07</a></li>
                            </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="news-v1-in bg-color-white">
                    <a href="~/assets/img/clients1/Base/PrecisionMachineryMachining/ProcisionMachinery-4.3.jpg" rel="gallery1" class="fancybox img-hover-v1">
                        <span>
                            <img class="img-responsive" src="~/assets/img/clients1/Base/PrecisionMachineryMachining/ProcisionMachinery-4.3.jpg" alt="">
                        </span>
                    </a>
                            <ul class="list-inline news-v1-info no-margin-bottom">
                                <li><span>By</span> <a href="#">Tina Kruiger</a></li>
                                <li>|</li>
                                <li><i class="fa fa-clock-o"></i> July 02, 2014</li>
                                <li class="pull-right"><a href="#"><i class="fa fa-comments-o"></i> 22</a></li>
                            </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=== End Content Part 2 ===-->

<!--=== Content Part 3 ===-->
<div class="bg-grey">
    <div class="container content-sm">
        <div class="text-center margin-bottom-50">
            <h2 class="title-v2 title-center">Product Introduction</h2>
        </div>
        <div class="row news-v1">
            <div class="col-md-4 md-margin-bottom-40">
                <div class="news-v1-in bg-color-white">
                    <a href="~/assets/img/clients1/Base/PrecisionMachineryMachining/ProcisionMachinery-5.1.jpg" rel="gallery1" class="fancybox img-hover-v1">
                        <span>
                            <img class="img-responsive" src="~/assets/img/clients1/Base/PrecisionMachineryMachining/ProcisionMachinery-5.1.jpg" alt="">
                        </span>
                    </a>
                            <ul class="list-inline news-v1-info no-margin-bottom">
                                <li><span>By</span> <a href="#">Kathy Reyes</a></li>
                                <li>|</li>
                                <li><i class="fa fa-clock-o"></i> July 02, 2014</li>
                                <li class="pull-right"><a href="#"><i class="fa fa-comments-o"></i> 14</a></li>
                            </ul>
                </div>
            </div>
            <div class="col-md-4 md-margin-bottom-40">
                <div class="news-v1-in bg-color-white">
                    <a href="~/assets/img/clients1/Base/PrecisionMachineryMachining/ProcisionMachinery-5.2.jpg" rel="gallery1" class="fancybox img-hover-v1">
                        <span>
                            <img class="img-responsive" src="~/assets/img/clients1/Base/PrecisionMachineryMachining/ProcisionMachinery-5.2.jpg" alt="">
                        </span>
                    </a>
                            <ul class="list-inline news-v1-info no-margin-bottom">
                                <li><span>By</span> <a href="#">John Clarck</a></li>
                                <li>|</li>
                                <li><i class="fa fa-clock-o"></i> July 02, 2014</li>
                                <li class="pull-right"><a href="#"><i class="fa fa-comments-o"></i> 07</a></li>
                            </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="news-v1-in bg-color-white">
                    <a href="~/assets/img/clients1/Base/PrecisionMachineryMachining/ProcisionMachinery-5.3.jpg" rel="gallery1" class="fancybox img-hover-v1">
                        <span>
                            <img class="img-responsive" src="~/assets/img/clients1/Base/PrecisionMachineryMachining/ProcisionMachinery-5.3.jpg" alt="">
                        </span>
                    </a>
                            <ul class="list-inline news-v1-info no-margin-bottom">
                                <li><span>By</span> <a href="#">Tina Kruiger</a></li>
                                <li>|</li>
                                <li><i class="fa fa-clock-o"></i> July 02, 2014</li>
                                <li class="pull-right"><a href="#"><i class="fa fa-comments-o"></i> 22</a></li>
                            </ul>
                </div>
            </div>
        </div>
        <br />
        <div class="row news-v1">
            <div class="col-md-4 md-margin-bottom-40">
                <div class="news-v1-in bg-color-white">
                    <a href="~/assets/img/clients1/Base/PrecisionMachineryMachining/ProcisionMachinery-5.4.jpg" rel="gallery1" class="fancybox img-hover-v1">
                        <span>
                            <img class="img-responsive" src="~/assets/img/clients1/Base/PrecisionMachineryMachining/ProcisionMachinery-5.4.jpg" alt="">
                        </span>
                    </a>
                            <ul class="list-inline news-v1-info no-margin-bottom">
                                <li><span>By</span> <a href="#">Kathy Reyes</a></li>
                                <li>|</li>
                                <li><i class="fa fa-clock-o"></i> July 02, 2014</li>
                                <li class="pull-right"><a href="#"><i class="fa fa-comments-o"></i> 14</a></li>
                            </ul>
                </div>
            </div>
            <div class="col-md-4 md-margin-bottom-40">
                <div class="news-v1-in bg-color-white">
                    <a href="~/assets/img/clients1/Base/PrecisionMachineryMachining/ProcisionMachinery-5.5.jpg" rel="gallery1" class="fancybox img-hover-v1">
                        <span>
                            <img class="img-responsive" src="~/assets/img/clients1/Base/PrecisionMachineryMachining/ProcisionMachinery-5.5.jpg" alt="">
                        </span>
                    </a>
                            <ul class="list-inline news-v1-info no-margin-bottom">
                                <li><span>By</span> <a href="#">John Clarck</a></li>
                                <li>|</li>
                                <li><i class="fa fa-clock-o"></i> July 02, 2014</li>
                                <li class="pull-right"><a href="#"><i class="fa fa-comments-o"></i> 07</a></li>
                            </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="news-v1-in bg-color-white">
                    <a href="~/assets/img/clients1/Base/PrecisionMachineryMachining/ProcisionMachinery-5.6.jpg" rel="gallery1" class="fancybox img-hover-v1">
                        <span>
                            <img class="img-responsive" src="~/assets/img/clients1/Base/PrecisionMachineryMachining/ProcisionMachinery-5.6.jpg" alt="">
                        </span>
                    </a>
                            <ul class="list-inline news-v1-info no-margin-bottom">
                                <li><span>By</span> <a href="#">Tina Kruiger</a></li>
                                <li>|</li>
                                <li><i class="fa fa-clock-o"></i> July 02, 2014</li>
                                <li class="pull-right"><a href="#"><i class="fa fa-comments-o"></i> 22</a></li>
                            </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=== End Content Part 3 ===-->
