@{
    ViewBag.Title = "SheetMetal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Sheet Metal Processing Plant</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="@Url.Action("Index","Home")">Home</a></li>
            <li><a href="@Url.Action("SheetMetal", "Base")">Base</a></li>
            <li class="active">Sheet Metal Processing Plant</li>
        </ul>
    </div>
</div>
<!--=== End Breadcrumbs ===-->

<!--=== Content Part 1 ===-->
<div class="container content">
    <div class="row">
        <div class="col-md-6">
            <h2 class="title-v2">OUR PLANT</h2>
            <p>A comprehensive high-tech enterprise.</p>
            <p>R&D, production, sales, and service of electronic equipment, especially 19 inches standards parts and components.</p>
            <p>Over 40sets of world-advanced sheet metal processing, surface spray coating, screen printing, and testing machines.ISO9001 certified.</p><br>

        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="~/assets/img/clients1/Base/Sheet-MetalProcessingPlant/SheetMetal-1.jpg" alt="">
        </div>
    </div>
</div>
<!--=== End Content Part 1 ===-->

<!--=== Content Part 2 ===-->
<div class="bg-grey">
    <div class="container content-sm">
        <div class="text-center margin-bottom-50">
            <h2 class="title-v2 title-center">Equipment Introduction</h2>
            </div>
        <div class="row news-v1">
            <div class="col-md-6 md-margin-bottom-40">
                <div class="news-v1-in bg-color-white">
                    <a href="~/assets/img/clients1/Base/Sheet-MetalProcessingPlant/SheetMetal-2.1.jpg" rel="gallery1" class="fancybox img-hover-v1" title="Image 1">
                        <span><img class="img-responsive" src="~/assets/img/clients1/Base/Sheet-MetalProcessingPlant/SheetMetal-2.1.jpg" alt=""></span></a>
                        <ul class="list-inline news-v1-info no-margin-bottom">
                            <li><span>By</span> <a href="#">Kathy Reyes</a></li>
                            <li>|</li>
                            <li><i class="fa fa-clock-o"></i> July 02, 2014</li>
                            <li class="pull-right"><a href="#"><i class="fa fa-comments-o"></i> 14</a></li>
                        </ul>
</div>
            </div>
            <div class="col-md-6 md-margin-bottom-40">
                <div class="news-v1-in bg-color-white">
                    <a href="~/assets/img/clients1/Base/Sheet-MetalProcessingPlant/SheetMetal-2.2.jpg" rel="gallery1" class="fancybox img-hover-v1" title="Image 2">
                        <span><img class="img-responsive" src="~/assets/img/clients1/Base/Sheet-MetalProcessingPlant/SheetMetal-2.2.jpg" alt=""></span>
                    </a>
                    <ul class="list-inline news-v1-info no-margin-bottom">
                        <li><span>By</span> <a href="#">John Clarck</a></li>
                        <li>|</li>
                        <li><i class="fa fa-clock-o"></i> July 02, 2014</li>
                        <li class="pull-right"><a href="#"><i class="fa fa-comments-o"></i> 07</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=== End Content Part 2 ===-->

<!--=== Content Part 3 ===-->
<div class="bg-grey">
    <div class="container content-sm">
        <div class="text-center margin-bottom-50">
            <h2 class="title-v2 title-center">Product Introduction</h2>
        </div>
        <div class="row news-v1">
            <div class="col-md-4 md-margin-bottom-40">
                <div class="news-v1-in bg-color-white">
                    <a href="~/assets/img/clients1/Base/Sheet-MetalProcessingPlant/SheetMetal-3.1.jpg" rel="gallery1" class="fancybox img-hover-v1" title="Image3">
                        <span><img class="img-responsive" src="~/assets/img/clients1/Base/Sheet-MetalProcessingPlant/SheetMetal-3.1.jpg" alt=""></span>
                    </a>
                    <ul class="list-inline news-v1-info no-margin-bottom">
                        <li><span>By</span> <a href="#">Kathy Reyes</a></li>
                        <li>|</li>
                        <li><i class="fa fa-clock-o"></i> July 02, 2014</li>
                        <li class="pull-right"><a href="#"><i class="fa fa-comments-o"></i> 14</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 md-margin-bottom-40">
                <div class="news-v1-in bg-color-white">
                    <a href="~/assets/img/clients1/Base/Sheet-MetalProcessingPlant/SheetMetal-3.2.jpg" rel="gallery1" class="fancybox img-hover-v1" title="Image4">
                        <span><img class="img-responsive" src="~/assets/img/clients1/Base/Sheet-MetalProcessingPlant/SheetMetal-3.2.jpg" alt=""></span>
                    </a>
                        <ul class="list-inline news-v1-info no-margin-bottom">
                            <li><span>By</span> <a href="#">John Clarck</a></li>
                            <li>|</li>
                            <li><i class="fa fa-clock-o"></i> July 02, 2014</li>
                            <li class="pull-right"><a href="#"><i class="fa fa-comments-o"></i> 07</a></li>
                        </ul>
</div>
            </div>
            <div class="col-md-4">
                <div class="news-v1-in bg-color-white">
                    <a href="~/assets/img/clients1/Base/Sheet-MetalProcessingPlant/SheetMetal-3.3.jpg" rel="gallery1" class="fancybox img-hover-v1" title="Image5">
                        <span><img class="img-responsive" src="~/assets/img/clients1/Base/Sheet-MetalProcessingPlant/SheetMetal-3.3.jpg" alt=""></span>
                    </a>
                            <ul class="list-inline news-v1-info no-margin-bottom">
                                <li><span>By</span> <a href="#">Tina Kruiger</a></li>
                                <li>|</li>
                                <li><i class="fa fa-clock-o"></i> July 02, 2014</li>
                                <li class="pull-right"><a href="#"><i class="fa fa-comments-o"></i> 22</a></li>
                            </ul>
                </div>
            </div>
        </div>
        <br />
        <div class="row news-v1">
            <div class="col-md-4 md-margin-bottom-40">
                <div class="news-v1-in bg-color-white">
                    <a href="~/assets/img/clients1/Base/Sheet-MetalProcessingPlant/SheetMetal-3.4.jpg" rel="gallery1" class="fancybox img-hover-v1" title="Image6">
                        <span><img class="img-responsive" src="~/assets/img/clients1/Base/Sheet-MetalProcessingPlant/SheetMetal-3.4.jpg" alt=""></span></a>
                            <ul class="list-inline news-v1-info no-margin-bottom">
                                <li><span>By</span> <a href="#">Kathy Reyes</a></li>
                                <li>|</li>
                                <li><i class="fa fa-clock-o"></i> July 02, 2014</li>
                                <li class="pull-right"><a href="#"><i class="fa fa-comments-o"></i> 14</a></li>
                            </ul>
                </div>
            </div>
            <div class="col-md-4 md-margin-bottom-40">
                <div class="news-v1-in bg-color-white">
                    <a href="~/assets/img/clients1/Base/Sheet-MetalProcessingPlant/SheetMetal-3.5.jpg" rel="gallery1" class="fancybox img-hover-v1" title="Image7">
                        <span><img class="img-responsive" src="~/assets/img/clients1/Base/Sheet-MetalProcessingPlant/SheetMetal-3.5.jpg" alt=""></span></a>
                        <ul class="list-inline news-v1-info no-margin-bottom">
                            <li><span>By</span> <a href="#">John Clarck</a></li>
                            <li>|</li>
                            <li><i class="fa fa-clock-o"></i> July 02, 2014</li>
                            <li class="pull-right"><a href="#"><i class="fa fa-comments-o"></i> 07</a></li>
                        </ul>
</div>
            </div>
            <div class="col-md-4">
                <div class="news-v1-in bg-color-white">
                    <a href="~/assets/img/clients1/Base/Sheet-MetalProcessingPlant/SheetMetal-3.6.jpg" rel="gallery1" class="fancybox img-hover-v1" title="Image8">
                        <span><img class="img-responsive" src="~/assets/img/clients1/Base/Sheet-MetalProcessingPlant/SheetMetal-3.6.jpg" alt=""></span></a>
                            <ul class="list-inline news-v1-info no-margin-bottom">
                                <li><span>By</span> <a href="#">Tina Kruiger</a></li>
                                <li>|</li>
                                <li><i class="fa fa-clock-o"></i> July 02, 2014</li>
                                <li class="pull-right"><a href="#"><i class="fa fa-comments-o"></i> 22</a></li>
                            </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=== End Content Part 3 ===-->