@model airtton.ViewModel.GroupIntroSummaryViewModel

@{
    ViewBag.Title = "GroupIntro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">公司介绍</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="@Url.Action("Index","Home")">首页</a></li>
                <li><a href="@Url.Action("GroupIntro","AboutUs")">走进九鼎</a></li>
                <li class="active">@Model.Title</li>
            </ul>
        </div>
    </div>
    <!--=== End Breadcrumbs ===-->
    <!--=== Content Part ===-->
    <div class="container content">
        <div class="row-fluid privacy">
            <p>@Model.Description</p>
        </div><!--/row-fluid-->
    </div>
    <!--=== End Content Part ===-->
