
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Show Case</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="@Url.Action("Index","Home")">Home</a></li>
            <li class="active">Case</li>
        </ul>
    </div>
</div>
<!--=== End Breadcrumbs ===-->
<!--=== New Energy ===-->
<div class="container content">
    <div id="NewEnergy" class="text-center margin-bottom-50">
        <h2 class="title-v2 title-center">Our Clients</h2>
        <p></p>
    </div>

    <div class="row margin-bottom-30">
        <div class="col-sm-4 sm-margin-bottom-30">
            <a href="~/assets/img/clients1/Case/case-1.jpg" rel="gallery1" class="fancybox img-hover-v1" title="Image 1">
                <span><img class="img-responsive" src="~/assets/img/clients1/Case/case-1.jpg" alt=""></span>
            </a>
        </div>
        <div class="col-sm-4 sm-margin-bottom-30">
            <a href="~/assets/img/clients1/Case/case-2.jpg" rel="gallery1" class="fancybox img-hover-v1" title="Image 2">
                <span><img class="img-responsive" src="~/assets/img/clients1/Case/case-2.jpg" alt=""></span>
            </a>
        </div>
        <div class="col-sm-4 sm-margin-bottom-30">
            <a href="~/assets/img/clients1/Case/case-3.jpg" rel="gallery1" class="fancybox img-hover-v1" title="Image 3">
                <span><img class="img-responsive" src="~/assets/img/clients1/Case/case-3.jpg" alt=""></span>
            </a>
        </div>       
    </div>
    <br />
    <div class="row margin-bottom-30">
        <div class="col-sm-4 sm-margin-bottom-30">
            <a href="~/assets/img/clients1/Case/case-4.jpg" rel="gallery1" class="fancybox img-hover-v1" title="Image 4">
                <span><img class="img-responsive" src="~/assets/img/clients1/Case/case-4.jpg" alt=""></span>
            </a>
        </div>
        <div class="col-sm-4 sm-margin-bottom-30">
            <a href="~/assets/img/clients1/Case/case-5.jpg" rel="gallery1" class="fancybox img-hover-v1" title="Image 5">
                <span><img class="img-responsive" src="~/assets/img/clients1/Case/case-5.jpg" alt=""></span>
            </a>
        </div>
        <div class="col-sm-4 sm-margin-bottom-30">
            <a href="~/assets/img/clients1/Case/case-6.jpg" rel="gallery1" class="fancybox img-hover-v1" title="Image 6">
                <span><img class="img-responsive" src="~/assets/img/clients1/Case/case-6.jpg" alt=""></span>
            </a>
        </div>
    </div>
</div>
<hr />
<!--=== End New Energy ===-->