@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--=== Container Part ===-->
<div class="container content">

    <!-- Left Inner -->
    <div class="left-inner">

        <h2>Job Description</h2>
        <p>Location: Beijing Published</p>
        <p>work experience: 5-10 years</p>
        <p>Minimum Education:Bachelor</p>
        <p>Full-time</p>
        <p>Number: 3 people</p>
        <p>Date: 2011-04-23</p>
        <p>Completed by the Headquarter business indicators, developed the business plan to adapt to local demand.</p>
        <hr>

        <h2>Qualification</h2>
        <ul class="list-unstyled">
            <li><i class="color-green fa fa-check"></i> The financial / investment / economic and other related professional degree or above; with innovative thinking, independent operation of the guarantee business.</li>
            <li><i class="color-green fa fa-check"></i> A commercial bank branches over a long work experience or background security company executives engaged in related work more than 5 years. </li>
            <li><i class="color-green fa fa-check"></i> Become familiar with the characteristics of corporate finance industry, an independent assessment of corporate loans, economic and operational risks.</li>
            <li><i class="color-green fa fa-check"></i> Be familiar with the situation where the regional economy.</li>
            <li><i class="color-green fa fa-check"></i> Be familiar with corporate finance guarantee business performance guarantees.</li>
            <li><i class="color-green fa fa-check"></i> With a strong background of the province area resources.</li>
            <li><i class="color-green fa fa-check"></i> Limited to gender, age, 32 years old, good may be relaxed.</li>
            <li><i class="color-green fa fa-check"></i> Have a good sense of professional ethics, honesty, good character.</li>
            <li><i class="color-green fa fa-check"></i> Can meet the long-term or frequent business trips abroad.</li>
        </ul>

       </div>
    <!-- End Left Inner -->
    <hr />
    <div class="row">
    <div class="col-sm-4"><button type="button" class="btn btn-u btn-block"> Apply with Resume</button></div>
    </div>
</div>
<!--=== End Container Part ===-->
